*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'montserrat' ,sans-serif;
    background-image: url('cloudy.webp');
    background-size: cover;
    /*background-position: top center;*/

}
.Container
{
    /*display: flex;
    flex-direction: column;*/
    min-height: 100vh;
    background-image: linear-gradient(to bottom ,rgba( 0, 0, 0,0.3) ,rgba(0, 0 ,0 , 0.6));
}
header
{
    display: flex ;
    justify-content: center;
    align-items: center;
    padding :50px 15px 15px;
   
}
header input
{
     width :100%;
     max-width :380px;
     padding : 10px 15px ;
     border : 2px solid black ;
     outline: none;
     background-color: lightgray;
     color: #313131;
     border-radius: 16px 0px 16px 0px;
     /*border-bottom: 3px solid blue;*/
     font-size: 20px;
     font-weight: 300;
     transition: 0.2s ease-out;



}
header input:focus
{
    background-color: rgba(225, 225,225,0.6);
}
